* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.database {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.title-data, .trial-data {
    padding: 10px;
    width: 300px;
}

.start {
    background-color: #F6F6EE;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cdcdbe;
}

.flex {
    display: flex;
    justify-content: center;
}

.stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

ul li {
    display: inline;
}

li a {
    text-decoration: none;
    list-style-type: none;
    color: #434343;
    margin-left: 50px;
}

.book-btn {
    border: 1px solid #e4e4d9;
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
}

.book-btn:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.stack img {
    width: 60px;
    height: 60px;
}

.stack {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  .stack {
    flex-direction: column;
    align-items: center;
  }
}
